In [1]:
# Import pandas and numpy libraries
import pandas as pd
import numpy as np

# Read the csv file using pandas.read_csv function
# Specify the file name, the columns to use, and the header row
df = pd.read_csv("./biourja-efzrr-y7i38ed9-input .csv", usecols=["Plant_Name", "Forecast","Capacity"], header=0)


df

   Plant_Name  Forecast  Capacity
0          E1      45.4       100
1          E2      31.2       150
2          E3       8.5        50
3          E4      88.2       100
4          E5      98.4       150
..        ...       ...       ...
95        S31     145.4       250
96        S32     121.0       150
97        S33     181.6       200
98        S34      25.4        50
99        S35     288.0       350

[100 rows x 3 columns]

In [2]:
df_E=df[df["Plant_Name"].str.startswith("E")]
df_E.reset_index(drop=True, inplace=True)
df_E

   Plant_Name  Forecast  Capacity
0          E1      45.4       100
1          E2      31.2       150
2          E3       8.5        50
3          E4      88.2       100
4          E5      98.4       150
5          E6     238.5       300
6          E7      66.8       100
7          E8     115.4       150
8          E9      74.0       100
9         E10     156.8       200
10        E11     167.9       200
11        E12     259.5       500
12        E13      79.8       100
13        E14      20.9       100
14        E15     358.4       400
15        E16      69.8       100
16        E17      23.4       100
17        E18       5.6        50
18        E19     144.5       150
19        E20     132.8       150
20        E21      48.7        50
21        E22       9.7        50
22        E23      57.6       100
23        E24     128.6       150

In [3]:
df_N=df[df["Plant_Name"].str.startswith("N")]
df_N.reset_index(drop=True, inplace=True)
df_N

   Plant_Name  Forecast  Capacity
0          N1     168.5       200
1          N2     148.9       400
2          N3     188.0       500
3          N4      27.8       100
4          N5      56.9       200
5          N6     101.6       150
6          N7     228.0       400
7          N8       7.5        50
8          N9     175.0       200
9         N10     221.4       250
10        N11      37.8       300
11        N12      29.4       250
12        N13     164.6       250
13        N14     205.4       250
14        N15      78.4       150
15        N16      64.3       100
16        N17      51.4       100
17        N18      88.6       100
18        N19      44.5       100
19        N20     128.6       150
20        N21     135.4       250
21        N22     222.6       350
22        N23     301.5       500
23        N24       5.9        50
24        N25      28.4        50
25        N26     324.0       400

In [4]:
df_W=df[df["Plant_Name"].str.startswith("W")]
df_W.reset_index(drop=True, inplace=True)
df_W

   Plant_Name  Forecast  Capacity
0          W1     221.6       250
1          W2      77.6       100
2          W3      86.6       150
3          W4      94.8       150
4          W5      99.0       200
5          W6      47.6       100
6          W7      11.4       100
7          W8       9.4        50
8          W9      35.0       150
9         W10      35.3       100
10        W11      44.3       150
11        W12     119.3       200
12        W13      36.7        50
13        W14      69.2       150
14        W15      48.1       200

In [5]:
df_S=df[df["Plant_Name"].str.startswith("S")]
df_S.reset_index(drop=True, inplace=True)
df_S

   Plant_Name  Forecast  Capacity
0          S1     109.8       150
1          S2     125.9       150
2          S3     207.6       350
3          S4      67.8       100
4          S5      18.8        50
5          S6     340.5       350
6          S7      69.8       100
7          S8      24.6        50
8          S9       6.2        50
9         S10     166.2       200
10        S11     159.4       200
11        S12      60.9       100
12        S13      12.6        50
13        S14      77.8       150
14        S15     180.0       200
15        S16     244.3       250
16        S17     223.4       500
17        S18     291.4       400
18        S19      44.5       100
19        S20      93.9       100
20        S21     172.7       200
21        S22     399.0       400
22        S23      13.5        50
23        S24     323.8       500
24        S25     420.7       600
25        S26      73.7       100
26        S27      58.8       400
27        S28     337.4       350
28        S29     431.3       450
29        S30     168.6       300
30        S31     145.4       250
31        S32     121.0       150
32        S33     181.6       200
33        S34      25.4        50
34        S35     288.0       350

In [6]:
Total_Capacity=12000
#This is the given contraint

East_constraint=2800

North_constraint=1500

West_constraint=2000

South_constraint=6500

#This constriants has to be rewised to satisfy the total constraint
Old_total=East_constraint+North_constraint+West_constraint+South_constraint

In [7]:
New_E_con=(East_constraint/Old_total)*Total_Capacity

New_N_con=(North_constraint/Old_total)*Total_Capacity

New_W_con=(West_constraint/Old_total)*Total_Capacity

New_S_con=(South_constraint/Old_total)*Total_Capacity

In [8]:
New_E_con

2625.0

In [9]:
New_N_con

1406.25

In [10]:
New_W_con

1875.0

In [11]:
New_S_con

6093.75

In [12]:
#For East Zone
total_forecast_east_old=df_E["Forecast"].sum()
total_forecast_east_old

#New_E_con


df_E["New_Forecast"]=(df_E["Forecast"]/total_forecast_east_old) * New_E_con

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\1543607527.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_E["New_Forecast"]=(df_E["Forecast"]/total_forecast_east_old) * New_E_con

In [13]:
#For North Zone
total_forecast_north_old=df_N["Forecast"].sum()
total_forecast_north_old

#New_N_con


df_N["New_Forecast"]=(df_N["Forecast"]/total_forecast_north_old) * New_N_con

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\2514247324.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_N["New_Forecast"]=(df_N["Forecast"]/total_forecast_north_old) * New_N_con

In [14]:
#For West Zone
total_forecast_west_old=df_W["Forecast"].sum()
total_forecast_west_old

#New_W_con


df_W["New_Forecast"]=(df_W["Forecast"]/total_forecast_west_old) * New_W_con

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\2855186347.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["New_Forecast"]=(df_W["Forecast"]/total_forecast_west_old) * New_W_con

In [15]:
#For South Zone
total_forecast_south_old=df_S["Forecast"].sum()
total_forecast_south_old

#New_W_con


df_S["New_Forecast"]=(df_S["Forecast"]/total_forecast_south_old) * New_S_con

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\3283842775.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_S["New_Forecast"]=(df_S["Forecast"]/total_forecast_south_old) * New_S_con

In [16]:
df_E

   Plant_Name  Forecast  Capacity  New_Forecast
0          E1      45.4       100     49.035138
1          E2      31.2       150     33.698157
2          E3       8.5        50      9.180588
3          E4      88.2       100     95.262097
4          E5      98.4       150    106.278802
5          E6     238.5       300    257.596486
6          E7      66.8       100     72.148618
7          E8     115.4       150    124.639977
8          E9      74.0       100     79.925115
9         E10     156.8       200    169.354839
10        E11     167.9       200    181.343606
11        E12     259.5       500    280.277938
12        E13      79.8       100     86.189516
13        E14      20.9       100     22.573445
14        E15     358.4       400    387.096774
15        E16      69.8       100     75.388825
16        E17      23.4       100     25.273618
17        E18       5.6        50      6.048387
18        E19     144.5       150    156.069988
19        E20     132.8       150    143.433180
20        E21      48.7        50     52.599366
21        E22       9.7        50     10.476671
22        E23      57.6       100     62.211982
23        E24     128.6       150    138.896889

In [17]:
df_N

   Plant_Name  Forecast  Capacity  New_Forecast
0          N1     168.5       200     73.260303
1          N2     148.9       400     64.738630
2          N3     188.0       500     81.738499
3          N4      27.8       100     12.086863
4          N5      56.9       200     24.738939
5          N6     101.6       150     44.173572
6          N7     228.0       400     99.129669
7          N8       7.5        50      3.260844
8          N9     175.0       200     76.086368
9         N10     221.4       250     96.260126
10        N11      37.8       300     16.434656
11        N12      29.4       250     12.782510
12        N13     164.6       250     71.564664
13        N14     205.4       250     89.303658
14        N15      78.4       150     34.086693
15        N16      64.3       100     27.956306
16        N17      51.4       100     22.347653
17        N18      88.6       100     38.521441
18        N19      44.5       100     19.347677
19        N20     128.6       150     55.912611
20        N21     135.4       250     58.869110
21        N22     222.6       350     96.781861
22        N23     301.5       500    131.085943
23        N24       5.9        50      2.565198
24        N25      28.4        50     12.347731
25        N26     324.0       400    140.868476

In [18]:
df_W

   Plant_Name  Forecast  Capacity  New_Forecast
0          W1     221.6       250    401.100492
1          W2      77.6       100    140.457573
2          W3      86.6       150    156.747756
3          W4      94.8       150    171.589922
4          W5      99.0       200    179.192007
5          W6      47.6       100     86.156965
6          W7      11.4       100     20.634231
7          W8       9.4        50     17.014191
8          W9      35.0       150     63.350710
9         W10      35.3       100     63.893716
10        W11      44.3       150     80.183898
11        W12     119.3       200    215.935418
12        W13      36.7        50     66.427744
13        W14      69.2       150    125.253403
14        W15      48.1       200     87.061975

In [19]:
df_S

   Plant_Name  Forecast  Capacity  New_Forecast
0          S1     109.8       150    117.667684
1          S2     125.9       150    134.921324
2          S3     207.6       350    222.475511
3          S4      67.8       100     72.658187
4          S5      18.8        50     20.147108
5          S6     340.5       350    364.898418
6          S7      69.8       100     74.801497
7          S8      24.6        50     26.362705
8          S9       6.2        50      6.644259
9         S10     166.2       200    178.109008
10        S11     159.4       200    170.821756
11        S12      60.9       100     65.263770
12        S13      12.6        50     13.502849
13        S14      77.8       150     83.374734
14        S15     180.0       200    192.897842
15        S16     244.3       250    261.805238
16        S17     223.4       500    239.407655
17        S18     291.4       400    312.280173
18        S19      44.5       100     47.688633
19        S20      93.9       100    100.628374
20        S21     172.7       200    185.074763
21        S22     399.0       400    427.590217
22        S23      13.5        50     14.467338
23        S24     323.8       500    347.001785
24        S25     420.7       600    450.845123
25        S26      73.7       100     78.980950
26        S27      58.8       400     63.013295
27        S28     337.4       350    361.576289
28        S29     431.3       450    462.204663
29        S30     168.6       300    180.680979
30        S31     145.4       250    155.818590
31        S32     121.0       150    129.670216
32        S33     181.6       200    194.612490
33        S34      25.4        50     27.220029
34        S35     288.0       350    308.636547

In [20]:
###Checking weather the total capicity is  sufficient to newforcast for North
nf_N=df_N["New_Forecast"].sum()

tc_N=df_N["Capacity"].sum()

print(nf_N)

print(tc_N)

1406.25
5800

In [21]:
###Checking weather the total capicity is  sufficient to newforcast for East
nf_E=df_E["New_Forecast"].sum()

tc_E=df_E["Capacity"].sum()

print(nf_E)

print(tc_E)

2625.0000000000005
3600

In [22]:
###Checking weather the total capicity is  sufficient to newforcast for West
nf_W=df_W["New_Forecast"].sum()

tc_W=df_W["Capacity"].sum()

print(nf_W)

print(tc_W)

1875.0
2100

In [23]:
###Checking weather the total capicity is  sufficient to newforcast for South
nf_S=df_S["New_Forecast"].sum()

tc_S=df_S["Capacity"].sum()

print(nf_S)

print(tc_S)

6093.75
7950

In [24]:
#Thus we just need to readjust the rows where the New_Capacity is greater than the Maxmum capacity and split the
# sum in the proportion of the row value to the whole region

#For df_E

df_E["Valid"]=np.where(df_E["New_Forecast"]<=df_E["Capacity"],1,0)

df_E

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\448338998.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_E["Valid"]=np.where(df_E["New_Forecast"]<=df_E["Capacity"],1,0)

   Plant_Name  Forecast  Capacity  New_Forecast  Valid
0          E1      45.4       100     49.035138      1
1          E2      31.2       150     33.698157      1
2          E3       8.5        50      9.180588      1
3          E4      88.2       100     95.262097      1
4          E5      98.4       150    106.278802      1
5          E6     238.5       300    257.596486      1
6          E7      66.8       100     72.148618      1
7          E8     115.4       150    124.639977      1
8          E9      74.0       100     79.925115      1
9         E10     156.8       200    169.354839      1
10        E11     167.9       200    181.343606      1
11        E12     259.5       500    280.277938      1
12        E13      79.8       100     86.189516      1
13        E14      20.9       100     22.573445      1
14        E15     358.4       400    387.096774      1
15        E16      69.8       100     75.388825      1
16        E17      23.4       100     25.273618      1
17        E18       5.6        50      6.048387      1
18        E19     144.5       150    156.069988      0
19        E20     132.8       150    143.433180      1
20        E21      48.7        50     52.599366      0
21        E22       9.7        50     10.476671      1
22        E23      57.6       100     62.211982      1
23        E24     128.6       150    138.896889      1

In [25]:
df_E['Extra'] = np.where(df_E['Valid'] == 0, df_E['New_Forecast'] - df_E['Capacity'], 0)

# Calculate the total extra sum
extra_sum_E = df_E['Extra'].sum()

print("The total extra sum is:", extra_sum_E)

The total extra sum is: 8.669354838709701

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\561899702.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_E['Extra'] = np.where(df_E['Valid'] == 0, df_E['New_Forecast'] - df_E['Capacity'], 0)

In [26]:
# Step 1: Calculate total sum of 'New_Forecast' where 'Valid' equals 1
total_new_forecast = df_E.loc[df_E['Valid'] == 1, 'New_Forecast'].sum()

# Step 2: Calculate proportion of each 'New_Forecast' value
df_E['Proportion'] = df_E.loc[df_E['Valid'] == 1, 'New_Forecast'] / total_new_forecast

# Step 3: Distribute the extra sum across the 'New_Forecast' values
df_E['Distributed_Extra'] = df_E['Proportion'] * extra_sum_E

# Step 4: Add these calculated values to original 'New_Forecast'
df_E.loc[df_E['Valid'] == 1, 'New_Forecast'] += df_E['Distributed_Extra']

# Drop the helper columns
df_E.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)

df_E

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\555959473.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_E['Proportion'] = df_E.loc[df_E['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\555959473.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_E['Distributed_Extra'] = df_E['Proportion'] * extra_sum_E
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\555959473.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_E.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)

   Plant_Name  Forecast  Capacity  New_Forecast  Valid     Extra
0          E1      45.4       100     49.211067      1  0.000000
1          E2      31.2       150     33.819060      1  0.000000
2          E3       8.5        50      9.213526      1  0.000000
3          E4      88.2       100     95.603880      1  0.000000
4          E5      98.4       150    106.660111      1  0.000000
5          E6     238.5       300    258.520696      1  0.000000
6          E7      66.8       100     72.407474      1  0.000000
7          E8     115.4       150    125.087163      1  0.000000
8          E9      74.0       100     80.211872      1  0.000000
9         E10     156.8       200    169.962453      1  0.000000
10        E11     167.9       200    181.994234      1  0.000000
11        E12     259.5       500    281.283524      1  0.000000
12        E13      79.8       100     86.498748      1  0.000000
13        E14      20.9       100     22.654434      1  0.000000
14        E15     358.4       400    388.485607      1  0.000000
15        E16      69.8       100     75.659306      1  0.000000
16        E17      23.4       100     25.364295      1  0.000000
17        E18       5.6        50      6.070088      1  0.000000
18        E19     144.5       150    156.069988      0  6.069988
19        E20     132.8       150    143.947792      1  0.000000
20        E21      48.7        50     52.599366      0  2.599366
21        E22       9.7        50     10.514259      1  0.000000
22        E23      57.6       100     62.435187      1  0.000000
23        E24     128.6       150    139.395226      1  0.000000

In [27]:
df_E.loc[df_E['Valid'] == 0, 'New_Forecast'] = df_E.loc[df_E['Valid'] == 0, 'Capacity']

In [28]:
df_E

   Plant_Name  Forecast  Capacity  New_Forecast  Valid     Extra
0          E1      45.4       100     49.211067      1  0.000000
1          E2      31.2       150     33.819060      1  0.000000
2          E3       8.5        50      9.213526      1  0.000000
3          E4      88.2       100     95.603880      1  0.000000
4          E5      98.4       150    106.660111      1  0.000000
5          E6     238.5       300    258.520696      1  0.000000
6          E7      66.8       100     72.407474      1  0.000000
7          E8     115.4       150    125.087163      1  0.000000
8          E9      74.0       100     80.211872      1  0.000000
9         E10     156.8       200    169.962453      1  0.000000
10        E11     167.9       200    181.994234      1  0.000000
11        E12     259.5       500    281.283524      1  0.000000
12        E13      79.8       100     86.498748      1  0.000000
13        E14      20.9       100     22.654434      1  0.000000
14        E15     358.4       400    388.485607      1  0.000000
15        E16      69.8       100     75.659306      1  0.000000
16        E17      23.4       100     25.364295      1  0.000000
17        E18       5.6        50      6.070088      1  0.000000
18        E19     144.5       150    150.000000      0  6.069988
19        E20     132.8       150    143.947792      1  0.000000
20        E21      48.7        50     50.000000      0  2.599366
21        E22       9.7        50     10.514259      1  0.000000
22        E23      57.6       100     62.435187      1  0.000000
23        E24     128.6       150    139.395226      1  0.000000

In [29]:
df_E.drop(columns=['Valid', 'Extra'], inplace=True)

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\1269460229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_E.drop(columns=['Valid', 'Extra'], inplace=True)

In [30]:
df_E

   Plant_Name  Forecast  Capacity  New_Forecast
0          E1      45.4       100     49.211067
1          E2      31.2       150     33.819060
2          E3       8.5        50      9.213526
3          E4      88.2       100     95.603880
4          E5      98.4       150    106.660111
5          E6     238.5       300    258.520696
6          E7      66.8       100     72.407474
7          E8     115.4       150    125.087163
8          E9      74.0       100     80.211872
9         E10     156.8       200    169.962453
10        E11     167.9       200    181.994234
11        E12     259.5       500    281.283524
12        E13      79.8       100     86.498748
13        E14      20.9       100     22.654434
14        E15     358.4       400    388.485607
15        E16      69.8       100     75.659306
16        E17      23.4       100     25.364295
17        E18       5.6        50      6.070088
18        E19     144.5       150    150.000000
19        E20     132.8       150    143.947792
20        E21      48.7        50     50.000000
21        E22       9.7        50     10.514259
22        E23      57.6       100     62.435187
23        E24     128.6       150    139.395226

In [31]:
print(df_E["New_Forecast"].sum())

2625.0

In [32]:
#For df_N

df_N["Valid"]=np.where(df_N["New_Forecast"]<=df_N["Capacity"],1,0)

df_N

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\4096032491.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_N["Valid"]=np.where(df_N["New_Forecast"]<=df_N["Capacity"],1,0)

   Plant_Name  Forecast  Capacity  New_Forecast  Valid
0          N1     168.5       200     73.260303      1
1          N2     148.9       400     64.738630      1
2          N3     188.0       500     81.738499      1
3          N4      27.8       100     12.086863      1
4          N5      56.9       200     24.738939      1
5          N6     101.6       150     44.173572      1
6          N7     228.0       400     99.129669      1
7          N8       7.5        50      3.260844      1
8          N9     175.0       200     76.086368      1
9         N10     221.4       250     96.260126      1
10        N11      37.8       300     16.434656      1
11        N12      29.4       250     12.782510      1
12        N13     164.6       250     71.564664      1
13        N14     205.4       250     89.303658      1
14        N15      78.4       150     34.086693      1
15        N16      64.3       100     27.956306      1
16        N17      51.4       100     22.347653      1
17        N18      88.6       100     38.521441      1
18        N19      44.5       100     19.347677      1
19        N20     128.6       150     55.912611      1
20        N21     135.4       250     58.869110      1
21        N22     222.6       350     96.781861      1
22        N23     301.5       500    131.085943      1
23        N24       5.9        50      2.565198      1
24        N25      28.4        50     12.347731      1
25        N26     324.0       400    140.868476      1

In [33]:
df_N.drop(columns=["Valid"], inplace=True)

df_N

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\2636146977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_N.drop(columns=["Valid"], inplace=True)

   Plant_Name  Forecast  Capacity  New_Forecast
0          N1     168.5       200     73.260303
1          N2     148.9       400     64.738630
2          N3     188.0       500     81.738499
3          N4      27.8       100     12.086863
4          N5      56.9       200     24.738939
5          N6     101.6       150     44.173572
6          N7     228.0       400     99.129669
7          N8       7.5        50      3.260844
8          N9     175.0       200     76.086368
9         N10     221.4       250     96.260126
10        N11      37.8       300     16.434656
11        N12      29.4       250     12.782510
12        N13     164.6       250     71.564664
13        N14     205.4       250     89.303658
14        N15      78.4       150     34.086693
15        N16      64.3       100     27.956306
16        N17      51.4       100     22.347653
17        N18      88.6       100     38.521441
18        N19      44.5       100     19.347677
19        N20     128.6       150     55.912611
20        N21     135.4       250     58.869110
21        N22     222.6       350     96.781861
22        N23     301.5       500    131.085943
23        N24       5.9        50      2.565198
24        N25      28.4        50     12.347731
25        N26     324.0       400    140.868476

In [34]:
#For df_W

df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)

df_W

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\2013008330.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)

   Plant_Name  Forecast  Capacity  New_Forecast  Valid
0          W1     221.6       250    401.100492      0
1          W2      77.6       100    140.457573      0
2          W3      86.6       150    156.747756      0
3          W4      94.8       150    171.589922      0
4          W5      99.0       200    179.192007      1
5          W6      47.6       100     86.156965      1
6          W7      11.4       100     20.634231      1
7          W8       9.4        50     17.014191      1
8          W9      35.0       150     63.350710      1
9         W10      35.3       100     63.893716      1
10        W11      44.3       150     80.183898      1
11        W12     119.3       200    215.935418      0
12        W13      36.7        50     66.427744      0
13        W14      69.2       150    125.253403      1
14        W15      48.1       200     87.061975      1

In [35]:

df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)

# Calculate the total extra sum
extra_sum_W = df_W['Extra'].sum()

print("The total extra sum is:", extra_sum_W)

The total extra sum is: 252.25890529973952

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\4129230822.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)

In [36]:
# Step 1: Calculate total sum of 'New_Forecast' where 'Valid' equals 1
total_new_forecast = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'].sum()

# Step 2: Calculate proportion of each 'New_Forecast' value
df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast

# Step 3: Distribute the extra sum across the 'New_Forecast' values
df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W

# Step 4: Add these calculated values to original 'New_Forecast'
df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] += df_W['Distributed_Extra']

# Drop the helper columns
df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)

df_W

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\724326291.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\724326291.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\724326291.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)

   Plant_Name  Forecast  Capacity  New_Forecast  Valid       Extra
0          W1     221.6       250    401.100492      0  151.100492
1          W2      77.6       100    140.457573      0   40.457573
2          W3      86.6       150    156.747756      0    6.747756
3          W4      94.8       150    171.589922      0   21.589922
4          W5      99.0       200    241.735537      1    0.000000
5          W6      47.6       100    116.228400      1    0.000000
6          W7      11.4       100     27.836213      1    0.000000
7          W8       9.4        50     22.952667      1    0.000000
8          W9      35.0       150     85.462059      1    0.000000
9         W10      35.3       100     86.194591      1    0.000000
10        W11      44.3       150    108.170548      1    0.000000
11        W12     119.3       200    215.935418      0   15.935418
12        W13      36.7        50     66.427744      0   16.427744
13        W14      69.2       150    168.970699      1    0.000000
14        W15      48.1       200    117.449286      1    0.000000

In [37]:


df_W.loc[df_W['Valid'] == 0, 'New_Forecast'] = df_W.loc[df_W['Valid'] == 0, 'Capacity']



df_W


df_W.drop(columns=['Valid', 'Extra'], inplace=True)

df_W

print(df_W["New_Forecast"].sum())

1875.0

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\4135889095.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Valid', 'Extra'], inplace=True)

In [38]:
df_W

   Plant_Name  Forecast  Capacity  New_Forecast
0          W1     221.6       250    250.000000
1          W2      77.6       100    100.000000
2          W3      86.6       150    150.000000
3          W4      94.8       150    150.000000
4          W5      99.0       200    241.735537
5          W6      47.6       100    116.228400
6          W7      11.4       100     27.836213
7          W8       9.4        50     22.952667
8          W9      35.0       150     85.462059
9         W10      35.3       100     86.194591
10        W11      44.3       150    108.170548
11        W12     119.3       200    200.000000
12        W13      36.7        50     50.000000
13        W14      69.2       150    168.970699
14        W15      48.1       200    117.449286

In [39]:
#For df_W

df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)

df_W

#Here we need to readjust the vales again

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\2582289639.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)

   Plant_Name  Forecast  Capacity  New_Forecast  Valid
0          W1     221.6       250    250.000000      1
1          W2      77.6       100    100.000000      1
2          W3      86.6       150    150.000000      1
3          W4      94.8       150    150.000000      1
4          W5      99.0       200    241.735537      0
5          W6      47.6       100    116.228400      0
6          W7      11.4       100     27.836213      1
7          W8       9.4        50     22.952667      1
8          W9      35.0       150     85.462059      1
9         W10      35.3       100     86.194591      1
10        W11      44.3       150    108.170548      1
11        W12     119.3       200    200.000000      1
12        W13      36.7        50     50.000000      1
13        W14      69.2       150    168.970699      0
14        W15      48.1       200    117.449286      1

In [40]:
df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)

# Calculate the total extra sum
extra_sum_W = df_W['Extra'].sum()

print("The total extra sum is:", extra_sum_W)

The total extra sum is: 76.93463561232173

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\1699584252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)

In [41]:
# Step 1: Calculate total sum of 'New_Forecast' where 'Valid' equals 1
total_new_forecast = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'].sum()

# Step 2: Calculate proportion of each 'New_Forecast' value
df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast

# Step 3: Distribute the extra sum across the 'New_Forecast' values
df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W

# Step 4: Add these calculated values to original 'New_Forecast'
df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] += df_W['Distributed_Extra']

# Drop the helper columns
df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)

df_W

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\2914843199.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\2914843199.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\2914843199.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)

   Plant_Name  Forecast  Capacity  New_Forecast  Valid      Extra
0          W1     221.6       250    264.267601      1   0.000000
1          W2      77.6       100    105.707040      1   0.000000
2          W3      86.6       150    158.560561      1   0.000000
3          W4      94.8       150    158.560561      1   0.000000
4          W5      99.0       200    241.735537      0  41.735537
5          W6      47.6       100    116.228400      0  16.228400
6          W7      11.4       100     29.424837      1   0.000000
7          W8       9.4        50     24.262585      1   0.000000
8          W9      35.0       150     90.339413      1   0.000000
9         W10      35.3       100     91.113751      1   0.000000
10        W11      44.3       150    114.343885      1   0.000000
11        W12     119.3       200    211.414081      1   0.000000
12        W13      36.7        50     52.853520      1   0.000000
13        W14      69.2       150    168.970699      0  18.970699
14        W15      48.1       200    124.152165      1   0.000000

In [42]:

df_W.loc[df_W['Valid'] == 0, 'New_Forecast'] = df_W.loc[df_W['Valid'] == 0, 'Capacity']



df_W


df_W.drop(columns=['Valid', 'Extra'], inplace=True)

df_W

print(df_W["New_Forecast"].sum())

1875.0000000000005

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\4011585615.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Valid', 'Extra'], inplace=True)

In [43]:
df_W

   Plant_Name  Forecast  Capacity  New_Forecast
0          W1     221.6       250    264.267601
1          W2      77.6       100    105.707040
2          W3      86.6       150    158.560561
3          W4      94.8       150    158.560561
4          W5      99.0       200    200.000000
5          W6      47.6       100    100.000000
6          W7      11.4       100     29.424837
7          W8       9.4        50     24.262585
8          W9      35.0       150     90.339413
9         W10      35.3       100     91.113751
10        W11      44.3       150    114.343885
11        W12     119.3       200    211.414081
12        W13      36.7        50     52.853520
13        W14      69.2       150    150.000000
14        W15      48.1       200    124.152165

In [44]:
#For df_W

df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)

df_W

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\4246262833.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)

   Plant_Name  Forecast  Capacity  New_Forecast  Valid
0          W1     221.6       250    264.267601      0
1          W2      77.6       100    105.707040      0
2          W3      86.6       150    158.560561      0
3          W4      94.8       150    158.560561      0
4          W5      99.0       200    200.000000      1
5          W6      47.6       100    100.000000      1
6          W7      11.4       100     29.424837      1
7          W8       9.4        50     24.262585      1
8          W9      35.0       150     90.339413      1
9         W10      35.3       100     91.113751      1
10        W11      44.3       150    114.343885      1
11        W12     119.3       200    211.414081      0
12        W13      36.7        50     52.853520      0
13        W14      69.2       150    150.000000      1
14        W15      48.1       200    124.152165      1

In [45]:


df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)

# Calculate the total extra sum
extra_sum_W = df_W['Extra'].sum()

print("The total extra sum is:", extra_sum_W)

The total extra sum is: 51.363364032826745

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\489043587.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)

In [46]:

# Step 1: Calculate total sum of 'New_Forecast' where 'Valid' equals 1
total_new_forecast = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'].sum()

# Step 2: Calculate proportion of each 'New_Forecast' value
df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast

# Step 3: Distribute the extra sum across the 'New_Forecast' values
df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W

# Step 4: Add these calculated values to original 'New_Forecast'
df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] += df_W['Distributed_Extra']

# Drop the helper columns
df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)

df_W

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\4249871130.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\4249871130.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\4249871130.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)

   Plant_Name  Forecast  Capacity  New_Forecast  Valid      Extra
0          W1     221.6       250    264.267601      0  14.267601
1          W2      77.6       100    105.707040      0   5.707040
2          W3      86.6       150    158.560561      0   8.560561
3          W4      94.8       150    158.560561      0   8.560561
4          W5      99.0       200    211.121985      1   0.000000
5          W6      47.6       100    105.560992      1   0.000000
6          W7      11.4       100     31.061150      1   0.000000
7          W8       9.4        50     25.611826      1   0.000000
8          W9      35.0       150     95.363181      1   0.000000
9         W10      35.3       100     96.180580      1   0.000000
10        W11      44.3       150    120.702540      1   0.000000
11        W12     119.3       200    211.414081      0  11.414081
12        W13      36.7        50     52.853520      0   2.853520
13        W14      69.2       150    158.341489      1   0.000000
14        W15      48.1       200    131.056257      1   0.000000

In [47]:

df_W.loc[df_W['Valid'] == 0, 'New_Forecast'] = df_W.loc[df_W['Valid'] == 0, 'Capacity']



df_W


df_W.drop(columns=['Valid', 'Extra'], inplace=True)

df_W

print(df_W["New_Forecast"].sum())

1875.0000000000002

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\2821740988.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Valid', 'Extra'], inplace=True)

In [48]:

df_W

   Plant_Name  Forecast  Capacity  New_Forecast
0          W1     221.6       250    250.000000
1          W2      77.6       100    100.000000
2          W3      86.6       150    150.000000
3          W4      94.8       150    150.000000
4          W5      99.0       200    211.121985
5          W6      47.6       100    105.560992
6          W7      11.4       100     31.061150
7          W8       9.4        50     25.611826
8          W9      35.0       150     95.363181
9         W10      35.3       100     96.180580
10        W11      44.3       150    120.702540
11        W12     119.3       200    200.000000
12        W13      36.7        50     50.000000
13        W14      69.2       150    158.341489
14        W15      48.1       200    131.056257

In [49]:
#For df_W

df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)

df_W






df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)

# Calculate the total extra sum
extra_sum_W = df_W['Extra'].sum()

print("The total extra sum is:", extra_sum_W)



# Step 1: Calculate total sum of 'New_Forecast' where 'Valid' equals 1
total_new_forecast = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'].sum()

# Step 2: Calculate proportion of each 'New_Forecast' value
df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast

# Step 3: Distribute the extra sum across the 'New_Forecast' values
df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W

# Step 4: Add these calculated values to original 'New_Forecast'
df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] += df_W['Distributed_Extra']

# Drop the helper columns
df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)

df_W








df_W.loc[df_W['Valid'] == 0, 'New_Forecast'] = df_W.loc[df_W['Valid'] == 0, 'Capacity']



df_W


df_W.drop(columns=['Valid', 'Extra'], inplace=True)

df_W

print(df_W["New_Forecast"].sum())




df_W

The total extra sum is: 25.02446623998304
1875.0

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\1848244730.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\1848244730.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\1848244730.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\1848244730.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\1848244730.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\1848244730.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Valid', 'Extra'], inplace=True)

   Plant_Name  Forecast  Capacity  New_Forecast
0          W1     221.6       250    254.468733
1          W2      77.6       100    101.787493
2          W3      86.6       150    152.681240
3          W4      94.8       150    152.681240
4          W5      99.0       200    200.000000
5          W6      47.6       100    100.000000
6          W7      11.4       100     31.616366
7          W8       9.4        50     26.069635
8          W9      35.0       150     97.067791
9         W10      35.3       100     97.899801
10        W11      44.3       150    122.860090
11        W12     119.3       200    203.574986
12        W13      36.7        50     50.893747
13        W14      69.2       150    150.000000
14        W15      48.1       200    133.398879

In [50]:
for i in range(10):
  #For df_W

  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)


  df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)

  # Calculate the total extra sum
  extra_sum_W = df_W['Extra'].sum()


  # Step 1: Calculate total sum of 'New_Forecast' where 'Valid' equals 1
  total_new_forecast = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'].sum()

  # Step 2: Calculate proportion of each 'New_Forecast' value
  df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast

  # Step 3: Distribute the extra sum across the 'New_Forecast' values
  df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W

  # Step 4: Add these calculated values to original 'New_Forecast'
  df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] += df_W['Distributed_Extra']

  # Drop the helper columns
  df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)





  df_W.loc[df_W['Valid'] == 0, 'New_Forecast'] = df_W.loc[df_W['Valid'] == 0, 'Capacity']






  df_W.drop(columns=['Valid', 'Extra'], inplace=True)








df_W

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Valid', 'Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Valid', 'Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Valid', 'Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Valid', 'Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Valid', 'Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Valid', 'Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Valid', 'Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Extra'] = np.where(df_W['Valid'] == 0, df_W['New_Forecast'] - df_W['Capacity'], 0)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Proportion'] = df_W.loc[df_W['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W['Distributed_Extra'] = df_W['Proportion'] * extra_sum_W
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Valid', 'Extra'], inplace=True)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\530868045.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)

   Plant_Name  Forecast  Capacity  New_Forecast
0          W1     221.6       250    250.020873
1          W2      77.6       100    100.008349
2          W3      86.6       150    150.012524
3          W4      94.8       150    150.012524
4          W5      99.0       200    200.000000
5          W6      47.6       100    100.000000
6          W7      11.4       100     32.685885
7          W8       9.4        50     26.951519
8          W9      35.0       150    100.351402
9         W10      35.3       100    100.008349
10        W11      44.3       150    127.016203
11        W12     119.3       200    200.016698
12        W13      36.7        50     50.004175
13        W14      69.2       150    150.000000
14        W15      48.1       200    137.911498

In [51]:
df_W["New_Forecast"] = df_W["New_Forecast"].round(3)
df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)


df_W
#Now all are valid

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\4050910339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["New_Forecast"] = df_W["New_Forecast"].round(3)
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\4050910339.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W["Valid"]=np.where(df_W["New_Forecast"]<=df_W["Capacity"],1,0)

   Plant_Name  Forecast  Capacity  New_Forecast  Valid
0          W1     221.6       250       250.021      0
1          W2      77.6       100       100.008      0
2          W3      86.6       150       150.013      0
3          W4      94.8       150       150.013      0
4          W5      99.0       200       200.000      1
5          W6      47.6       100       100.000      1
6          W7      11.4       100        32.686      1
7          W8       9.4        50        26.952      1
8          W9      35.0       150       100.351      1
9         W10      35.3       100       100.008      0
10        W11      44.3       150       127.016      1
11        W12     119.3       200       200.017      0
12        W13      36.7        50        50.004      0
13        W14      69.2       150       150.000      1
14        W15      48.1       200       137.911      1

In [52]:
  df_W.drop(columns=['Valid'], inplace=True)

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\2306969468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_W.drop(columns=['Valid'], inplace=True)

In [53]:
df_W

   Plant_Name  Forecast  Capacity  New_Forecast
0          W1     221.6       250       250.021
1          W2      77.6       100       100.008
2          W3      86.6       150       150.013
3          W4      94.8       150       150.013
4          W5      99.0       200       200.000
5          W6      47.6       100       100.000
6          W7      11.4       100        32.686
7          W8       9.4        50        26.952
8          W9      35.0       150       100.351
9         W10      35.3       100       100.008
10        W11      44.3       150       127.016
11        W12     119.3       200       200.017
12        W13      36.7        50        50.004
13        W14      69.2       150       150.000
14        W15      48.1       200       137.911

In [54]:
#For df_S

df_S["Valid"]=np.where(df_S["New_Forecast"]<=df_S["Capacity"],1,0)

df_S

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\3849194746.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_S["Valid"]=np.where(df_S["New_Forecast"]<=df_S["Capacity"],1,0)

   Plant_Name  Forecast  Capacity  New_Forecast  Valid
0          S1     109.8       150    117.667684      1
1          S2     125.9       150    134.921324      1
2          S3     207.6       350    222.475511      1
3          S4      67.8       100     72.658187      1
4          S5      18.8        50     20.147108      1
5          S6     340.5       350    364.898418      0
6          S7      69.8       100     74.801497      1
7          S8      24.6        50     26.362705      1
8          S9       6.2        50      6.644259      1
9         S10     166.2       200    178.109008      1
10        S11     159.4       200    170.821756      1
11        S12      60.9       100     65.263770      1
12        S13      12.6        50     13.502849      1
13        S14      77.8       150     83.374734      1
14        S15     180.0       200    192.897842      1
15        S16     244.3       250    261.805238      0
16        S17     223.4       500    239.407655      1
17        S18     291.4       400    312.280173      1
18        S19      44.5       100     47.688633      1
19        S20      93.9       100    100.628374      0
20        S21     172.7       200    185.074763      1
21        S22     399.0       400    427.590217      0
22        S23      13.5        50     14.467338      1
23        S24     323.8       500    347.001785      1
24        S25     420.7       600    450.845123      1
25        S26      73.7       100     78.980950      1
26        S27      58.8       400     63.013295      1
27        S28     337.4       350    361.576289      0
28        S29     431.3       450    462.204663      0
29        S30     168.6       300    180.680979      1
30        S31     145.4       250    155.818590      1
31        S32     121.0       150    129.670216      1
32        S33     181.6       200    194.612490      1
33        S34      25.4        50     27.220029      1
34        S35     288.0       350    308.636547      1

In [55]:

df_S['Extra'] = np.where(df_S['Valid'] == 0, df_S['New_Forecast'] - df_S['Capacity'], 0)

# Calculate the total extra sum
extra_sum_S = df_S['Extra'].sum()

print("The total extra sum is:", extra_sum_S)

The total extra sum is: 78.7031989166948

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\3343651319.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_S['Extra'] = np.where(df_S['Valid'] == 0, df_S['New_Forecast'] - df_S['Capacity'], 0)

In [56]:

# Step 1: Calculate total sum of 'New_Forecast' where 'Valid' equals 1
total_new_forecast = df_S.loc[df_S['Valid'] == 1, 'New_Forecast'].sum()

# Step 2: Calculate proportion of each 'New_Forecast' value
df_S['Proportion'] = df_S.loc[df_S['Valid'] == 1, 'New_Forecast'] / total_new_forecast

# Step 3: Distribute the extra sum across the 'New_Forecast' values
df_S['Distributed_Extra'] = df_S['Proportion'] * extra_sum_S

# Step 4: Add these calculated values to original 'New_Forecast'
df_S.loc[df_S['Valid'] == 1, 'New_Forecast'] += df_S['Distributed_Extra']

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\3738400362.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_S['Proportion'] = df_S.loc[df_S['Valid'] == 1, 'New_Forecast'] / total_new_forecast
C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\3738400362.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_S['Distributed_Extra'] = df_S['Proportion'] * extra_sum_S

In [57]:
# Drop the helper columns
df_S.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)

df_S

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\538671891.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_S.drop(columns=['Proportion', 'Distributed_Extra'], inplace=True)

   Plant_Name  Forecast  Capacity  New_Forecast  Valid      Extra
0          S1     109.8       150    119.918162      1   0.000000
1          S2     125.9       150    137.501790      1   0.000000
2          S3     207.6       350    226.730514      1   0.000000
3          S4      67.8       100     74.047827      1   0.000000
4          S5      18.8        50     20.532436      1   0.000000
5          S6     340.5       350    364.898418      0  14.898418
6          S7      69.8       100     76.232128      1   0.000000
7          S8      24.6        50     26.866911      1   0.000000
8          S9       6.2        50      6.771335      1   0.000000
9         S10     166.2       200    181.515469      1   0.000000
10        S11     159.4       200    174.088843      1   0.000000
11        S12      60.9       100     66.511986      1   0.000000
12        S13      12.6        50     13.761101      1   0.000000
13        S14      77.8       150     84.969335      1   0.000000
14        S15     180.0       200    196.587151      1   0.000000
15        S16     244.3       250    261.805238      0  11.805238
16        S17     223.4       500    243.986497      1   0.000000
17        S18     291.4       400    318.252754      1   0.000000
18        S19      44.5       100     48.600712      1   0.000000
19        S20      93.9       100    100.628374      0   0.628374
20        S21     172.7       200    188.614450      1   0.000000
21        S22     399.0       400    427.590217      0  27.590217
22        S23      13.5        50     14.744036      1   0.000000
23        S24     323.8       500    353.638441      1   0.000000
24        S25     420.7       600    459.467857      1   0.000000
25        S26      73.7       100     80.491517      1   0.000000
26        S27      58.8       400     64.218469      1   0.000000
27        S28     337.4       350    361.576289      0  11.576289
28        S29     431.3       450    462.204663      0  12.204663
29        S30     168.6       300    184.136631      1   0.000000
30        S31     145.4       250    158.798732      1   0.000000
31        S32     121.0       150    132.150251      1   0.000000
32        S33     181.6       200    198.334592      1   0.000000
33        S34      25.4        50     27.740631      1   0.000000
34        S35     288.0       350    314.539441      1   0.000000

In [58]:


df_S.loc[df_S['Valid'] == 0, 'New_Forecast'] = df_S.loc[df_S['Valid'] == 0, 'Capacity']



df_S

   Plant_Name  Forecast  Capacity  New_Forecast  Valid      Extra
0          S1     109.8       150    119.918162      1   0.000000
1          S2     125.9       150    137.501790      1   0.000000
2          S3     207.6       350    226.730514      1   0.000000
3          S4      67.8       100     74.047827      1   0.000000
4          S5      18.8        50     20.532436      1   0.000000
5          S6     340.5       350    350.000000      0  14.898418
6          S7      69.8       100     76.232128      1   0.000000
7          S8      24.6        50     26.866911      1   0.000000
8          S9       6.2        50      6.771335      1   0.000000
9         S10     166.2       200    181.515469      1   0.000000
10        S11     159.4       200    174.088843      1   0.000000
11        S12      60.9       100     66.511986      1   0.000000
12        S13      12.6        50     13.761101      1   0.000000
13        S14      77.8       150     84.969335      1   0.000000
14        S15     180.0       200    196.587151      1   0.000000
15        S16     244.3       250    250.000000      0  11.805238
16        S17     223.4       500    243.986497      1   0.000000
17        S18     291.4       400    318.252754      1   0.000000
18        S19      44.5       100     48.600712      1   0.000000
19        S20      93.9       100    100.000000      0   0.628374
20        S21     172.7       200    188.614450      1   0.000000
21        S22     399.0       400    400.000000      0  27.590217
22        S23      13.5        50     14.744036      1   0.000000
23        S24     323.8       500    353.638441      1   0.000000
24        S25     420.7       600    459.467857      1   0.000000
25        S26      73.7       100     80.491517      1   0.000000
26        S27      58.8       400     64.218469      1   0.000000
27        S28     337.4       350    350.000000      0  11.576289
28        S29     431.3       450    450.000000      0  12.204663
29        S30     168.6       300    184.136631      1   0.000000
30        S31     145.4       250    158.798732      1   0.000000
31        S32     121.0       150    132.150251      1   0.000000
32        S33     181.6       200    198.334592      1   0.000000
33        S34      25.4        50     27.740631      1   0.000000
34        S35     288.0       350    314.539441      1   0.000000

In [59]:
df_S.drop(columns=['Valid', 'Extra'], inplace=True)

df_S

print(df_S["New_Forecast"].sum())




df_S

6093.75

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\618404942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_S.drop(columns=['Valid', 'Extra'], inplace=True)

   Plant_Name  Forecast  Capacity  New_Forecast
0          S1     109.8       150    119.918162
1          S2     125.9       150    137.501790
2          S3     207.6       350    226.730514
3          S4      67.8       100     74.047827
4          S5      18.8        50     20.532436
5          S6     340.5       350    350.000000
6          S7      69.8       100     76.232128
7          S8      24.6        50     26.866911
8          S9       6.2        50      6.771335
9         S10     166.2       200    181.515469
10        S11     159.4       200    174.088843
11        S12      60.9       100     66.511986
12        S13      12.6        50     13.761101
13        S14      77.8       150     84.969335
14        S15     180.0       200    196.587151
15        S16     244.3       250    250.000000
16        S17     223.4       500    243.986497
17        S18     291.4       400    318.252754
18        S19      44.5       100     48.600712
19        S20      93.9       100    100.000000
20        S21     172.7       200    188.614450
21        S22     399.0       400    400.000000
22        S23      13.5        50     14.744036
23        S24     323.8       500    353.638441
24        S25     420.7       600    459.467857
25        S26      73.7       100     80.491517
26        S27      58.8       400     64.218469
27        S28     337.4       350    350.000000
28        S29     431.3       450    450.000000
29        S30     168.6       300    184.136631
30        S31     145.4       250    158.798732
31        S32     121.0       150    132.150251
32        S33     181.6       200    198.334592
33        S34      25.4        50     27.740631
34        S35     288.0       350    314.539441

In [60]:

df_S["Valid"]=np.where(df_S["New_Forecast"]<=df_S["Capacity"],1,0)

df_S

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\252476343.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_S["Valid"]=np.where(df_S["New_Forecast"]<=df_S["Capacity"],1,0)

   Plant_Name  Forecast  Capacity  New_Forecast  Valid
0          S1     109.8       150    119.918162      1
1          S2     125.9       150    137.501790      1
2          S3     207.6       350    226.730514      1
3          S4      67.8       100     74.047827      1
4          S5      18.8        50     20.532436      1
5          S6     340.5       350    350.000000      1
6          S7      69.8       100     76.232128      1
7          S8      24.6        50     26.866911      1
8          S9       6.2        50      6.771335      1
9         S10     166.2       200    181.515469      1
10        S11     159.4       200    174.088843      1
11        S12      60.9       100     66.511986      1
12        S13      12.6        50     13.761101      1
13        S14      77.8       150     84.969335      1
14        S15     180.0       200    196.587151      1
15        S16     244.3       250    250.000000      1
16        S17     223.4       500    243.986497      1
17        S18     291.4       400    318.252754      1
18        S19      44.5       100     48.600712      1
19        S20      93.9       100    100.000000      1
20        S21     172.7       200    188.614450      1
21        S22     399.0       400    400.000000      1
22        S23      13.5        50     14.744036      1
23        S24     323.8       500    353.638441      1
24        S25     420.7       600    459.467857      1
25        S26      73.7       100     80.491517      1
26        S27      58.8       400     64.218469      1
27        S28     337.4       350    350.000000      1
28        S29     431.3       450    450.000000      1
29        S30     168.6       300    184.136631      1
30        S31     145.4       250    158.798732      1
31        S32     121.0       150    132.150251      1
32        S33     181.6       200    198.334592      1
33        S34      25.4        50     27.740631      1
34        S35     288.0       350    314.539441      1

In [61]:
df_S.drop(columns=["Valid"],inplace=True)

C:\Users\rosha\AppData\Local\Temp\ipykernel_9072\1393839088.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_S.drop(columns=["Valid"],inplace=True)

In [62]:
df_S

   Plant_Name  Forecast  Capacity  New_Forecast
0          S1     109.8       150    119.918162
1          S2     125.9       150    137.501790
2          S3     207.6       350    226.730514
3          S4      67.8       100     74.047827
4          S5      18.8        50     20.532436
5          S6     340.5       350    350.000000
6          S7      69.8       100     76.232128
7          S8      24.6        50     26.866911
8          S9       6.2        50      6.771335
9         S10     166.2       200    181.515469
10        S11     159.4       200    174.088843
11        S12      60.9       100     66.511986
12        S13      12.6        50     13.761101
13        S14      77.8       150     84.969335
14        S15     180.0       200    196.587151
15        S16     244.3       250    250.000000
16        S17     223.4       500    243.986497
17        S18     291.4       400    318.252754
18        S19      44.5       100     48.600712
19        S20      93.9       100    100.000000
20        S21     172.7       200    188.614450
21        S22     399.0       400    400.000000
22        S23      13.5        50     14.744036
23        S24     323.8       500    353.638441
24        S25     420.7       600    459.467857
25        S26      73.7       100     80.491517
26        S27      58.8       400     64.218469
27        S28     337.4       350    350.000000
28        S29     431.3       450    450.000000
29        S30     168.6       300    184.136631
30        S31     145.4       250    158.798732
31        S32     121.0       150    132.150251
32        S33     181.6       200    198.334592
33        S34      25.4        50     27.740631
34        S35     288.0       350    314.539441

In [63]:
df_E["New_Forecast"].sum()

2625.0

In [64]:
df_N["New_Forecast"].sum()

1406.25

In [65]:
df_W["New_Forecast"].sum()

1875.0000000000002

In [66]:
df_S["New_Forecast"].sum()

6093.75

In [67]:
df_output = pd.concat([df_E, df_N, df_W, df_S])
df_output.reset_index(drop=True, inplace=True)

In [68]:
df_output

   Plant_Name  Forecast  Capacity  New_Forecast
0          E1      45.4       100     49.211067
1          E2      31.2       150     33.819060
2          E3       8.5        50      9.213526
3          E4      88.2       100     95.603880
4          E5      98.4       150    106.660111
..        ...       ...       ...           ...
95        S31     145.4       250    158.798732
96        S32     121.0       150    132.150251
97        S33     181.6       200    198.334592
98        S34      25.4        50     27.740631
99        S35     288.0       350    314.539441

[100 rows x 4 columns]

In [69]:
df_ans = df_output[['Plant_Name', 'New_Forecast']].copy()
df_ans = df_ans.rename(columns={'New_Forecast': 'Predicted_Forecast'})

In [70]:
df_ans

   Plant_Name  Predicted_Forecast
0          E1           49.211067
1          E2           33.819060
2          E3            9.213526
3          E4           95.603880
4          E5          106.660111
..        ...                 ...
95        S31          158.798732
96        S32          132.150251
97        S33          198.334592
98        S34           27.740631
99        S35          314.539441

[100 rows x 2 columns]

In [71]:
# Assuming df_ans is your DataFrame
df_ans[['Plant_Name', 'Predicted_Forecast']].to_csv('output.txt', index=False, header=False, sep=',')

In [72]:
df_ans

   Plant_Name  Predicted_Forecast
0          E1           49.211067
1          E2           33.819060
2          E3            9.213526
3          E4           95.603880
4          E5          106.660111
..        ...                 ...
95        S31          158.798732
96        S32          132.150251
97        S33          198.334592
98        S34           27.740631
99        S35          314.539441

[100 rows x 2 columns]